/*  ALL */
* {
    padding: 0;
    margin: 0;
}

/* HEADER */
header {
    background-color: lightsalmon;
    color: white;
    text-align: center;
    padding: 50px;
}

/* MAIN */
main {
    background-color: gray;
    justify-content: center;
    align-items: center;
}

.formContainer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 250px;
}

/* FOOTER */
footer {
    background-color: lightcoral;
    color: white;
    text-align: center;
    padding: 50px;
}